# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

.idea
*.iml

.history
test/gv/
test/*.gv
test/smcat/*
tool/*.smcat
.failed_tracker
test/src/stackoverflow/try2.dart
